.row{
  content: "";
  clear: both;
  display: table;
  margin: 40px 0 40px 10px ;
}

.row .box{
  display: block;
  position: relative; /*serão divs flutuantes*/
  border-radius: 10px;
  overflow: hidden; /*imagem acompanha o box e pega o border*/
  width: 270px;
  margin: 20px;
  height: 150px;
  float: left;
}

.row .box-cover img{
  width: 100%;
  transform: scale(1.3); /*efeito de afundar*/
  transition: 0.5s;
}

.row .box:hover .box-cover img{
  transform: scale(1);
}
